.savedQr {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  transition: all ease-out 250ms;
  padding: 10px;
  animation-duration: 250ms;
  animation-name: justSaved;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.savedQr:hover {
  background-color: var(--background_aside_secundary);
}

.savedQr:hover .savedQr__name {
  color: var(--selected_color);
}

.savedQr > * + * {
  margin-left: 10px;
}

.savedQr__qr {
  flex-basis: 45px;
  flex-shrink: 0;
}

.savedQr__qr .qr__element {
  padding: 6px;
}

.savedQr__data {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.savedQr__name {
  transition: all ease-out 250ms;
}

.savedQr__date {
  color: var(--font_color_secundary);
}

.savedQrs--oneLeft{
  transition-delay: 150ms;
}

@keyframes justSaved {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}