.header {
  display: flex;
  height: 100%;
  width: 100%;
  padding-left: 2%;
  align-items: center;
  background-color: #333
}

.header__logo,
.header__gear {
}

.header__gear {
  font-size: 25px;
  color: whitesmoke
}