.header {
  --font-size: 20px;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.header__logo,
.header__gear {
  float: left;
}