.textOutput {
  outline: none;
  width: 100%;
  height: 100%;
  padding: 25px;
}

.react-json-view {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 25px;
  background-color: transparent;
}