.textOutput {
  outline: none;
  width: 100%;
  height: 100%;
  padding: 25px;
  height: 100%;
  resize: none;
  background-color: transparent;
  border-color: transparent;
  color: var(--font_color_general);
}

.react-json-view {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 25px;
  background-color: transparent;
}