.qr {
  grid-area: qr;
  display: flex;
  align-items: center;
  justify-content: center;
}
.qr__element {
  width: 100px;
  height: 100px;
  max-width: 100%;
  max-height: 100%;
  padding: 7px;
  border-radius:4px;
  background-color: #fff;
}
.qr-cell{
  width: 100%;
}
.qr-cell-empty{
  fill: #fff;
}
.qr-cell-filled{
  fill: #000;
}
