.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app__header {
  flex-shrink: 0;
}

.app__body {
  flex-grow: 1;
  display: flex;
}

.app__aside {
  flex-shrink: 0;
  width: 100%;
  flex-basis: 100px;
}

.app__main {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "textInput textOutput" "qr save";
}