.button {
  color: var(--font-color-main);
  background-color: transparent;
  border: 1px solid var(--font-color-general);
  padding: 10px 15px;
  cursor: pointer;
  outline: none;
}

* + .button {
  margin-top: 15px;
}

.button:hover,
.button:focus {
  transition: all ease-in-out 250ms;
  color: var(--selected-color);
  border: 1px solid var(--selected-color);
}