.input--checkbox {
  color: inherit;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--font_color_general);
  caret-color: transparent;
}

.input--checkbox:focus {
  transition: all ease-in-out 250ms;
  color: var(--selected_color);
  border-bottom: 1px solid var(--selected_color);
  caret-color: var(--selected_color);
}

::-webkit-input-placeholder {
  color: var(--font_color_secundary)
}

:-ms-input-placeholder {
  color: var(--font_color_secundary)
}

::placeholder {
  color: var(--font_color_secundary)
}